
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/style/layout.css" rel="stylesheet" />
@*Tinh nang chuc nang ho tro khach hang*@
<section id="feature" class="section-p1">
    <div class="fe-box"  >
        <img src="~/img/SpIP14.png" />
        <h6 > Free ship</h6>
    </div>

    <div class="fe-box">
        <img src="~/img/SpIP14.png" />
        <h6>dat hang truc tiep</h6>
    </div>

    <div class="fe-box">
        <img src="~/img/SpIP14.png" />
        <h6>tiet kiem</h6>
    </div>


    <div class="fe-box">
        <img src="~/img/SpIP14.png" />
        <h6>khuyen mai</h6>
    </div>

    <div class="fe-box">
        <img src="~/img/SpIP14.png" />
        <h6>sale happy</h6>
    </div>

    <div class="fe-box">
        <img src="~/img/SpIP14.png" />
        <h6>support</h6>
    </div>
</section>
@*product*@
<section id="product1" class="section-p1">
    <h2>Sản Phẩm nổi bật  </h2>
    <p>Bộ sưu tập nhà Táo </p>
    <div class="pro-container">
        <div class="pro">
            <img src="~/img/SpIP14.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 14</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1500</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

        <div class="pro">
            <img src="~/img/SpIP15e.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 15 air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$3000</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

        <div class="pro">
            <img src="~/img/SpIP15prm.png" alt="Alternate Text" style=" width:120px" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 15 pro max</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$5000</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

        <div class="pro">
            <img src="~/img/SpIP17.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 17</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$20000</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/iphone-13-128gb_240.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 13</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1700</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/iphone-16e-128gb_240.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 16 air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$3900</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/iphone-air-1tb_240.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone  17 air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star" style="color:antiquewhite"></i>
                </div>
                <h4>$1400</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/SpIP14.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 14</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1500</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

    </div>
</section>
@*banner small*@
<section id="banner" class="section-m1">
    <h4> dich vu sua chua</h4>
    <h2> len den <span>giam 70%</span>- tat ca iphone</h2>
    <button class="normal">tim hieu them</button>

</section>
<section id="product1" class="section-p1">
    <h2>Sản Phẩm nổi bật  </h2>
    <p>Bộ sưu tập nhà Táo </p>
    <div class="pro-container">
        <div class="pro">
            <img src="~/img/SpIP14.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 14</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1500</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

        <div class="pro">
            <img src="~/img/SpIP15e.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 15 air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$3000</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

        <div class="pro">
            <img src="~/img/SpIP15prm.png" alt="Alternate Text" style=" width:120px" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 15 pro max</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$5000</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

        <div class="pro">
            <img src="~/img/SpIP17.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 17</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$20000</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/iphone-13-128gb_240.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 13</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1700</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/iphone-16e-128gb_240.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 16 air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$3900</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/iphone-air-1tb_240.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone  17 air</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star" style="color:antiquewhite"></i>
                </div>
                <h4>$1400</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>
        <div class="pro">
            <img src="~/img/SpIP14.png" alt="Alternate Text" />
            <div class="des">
                <span>Iphone </span>
                <h5>Iphone 14</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$1500</h4>
            </div>
            <a href="#"><i class="fa-solid fa-cart-plus cart"></i></a>
        </div>

    </div>
</section>


 

 
